body {
}


#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 14px;
}    

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #FFFFFF; /* inner stroke */
    border-bottom: 1px solid #428bca; /* inner stroke */
    background-color: #428bca; /* layer fill content */
    list-style-type:none;
    border-radius: 5px;
}  

#leftMenu .accordion-heading  a{  
    color: #FFFFFF; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;  
    margin-left: 5px;
}

#leftMenu .accordion-heading  a:hover{  
     color: #708090;
     text-shadow: none;  
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #5C5D5C; /* layer fill content */

}