@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ayuda";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Ayuda
    </div>
<div class="panel-body">
    <h2>Lista de Jugador</h2>
    <p>Esta vista tiene por objetivo mostrar el listado de todos los jugadores existentes del sistema, pudiedo modificarlos, ver
        sus datos y eliminarlos.También nos permite crear nuevos jugadores desde el botón <img src="~/Images/boton_nuevo.png" />Nuevo Jugador
        que se encuentra en la parte superior derecha del panel<br/>
        Para modificar un jugador simplemente debemos localizarlo en el listado y hacer click en el icono <img src="~/Images/boton_editar.png" />
        que se encuentra en la parte derecha del listado, de esta manera el sistema nos llevara a la vista que nos permitira editar un jugador.
        Del mismo modo para ver los datos de un jugador se debe hacer click sobre el icono <img src="~/Images/boton_ver.png" />, el cual nos
        llevara a ver los detalles del jugador como datos personales, estadisticas, historial de lesiones, entre otras cosas.
        Por último para eliminar un jugador y que se deje de mostrar en nuestro listado se debe hacer click <img src="~/Images/boton_borrar.png" />,
        el cual abrira un mensaje de alerta preguntando ¿Seguro desea eliminar este jugador?, al presionar aceptar el jugador automáticamente
        desaparecera del listado.<br/>
        Esta vista contiene en la parte superior derecha un buscador, el cual nos facilitara encontrar algun jugador en particular, el funcionamiento
        de este buscador es ingresando cualquier texto y presionando enter nos traera cualquier coincidencia, ya sea en el nombre o apellido
        del jugador.<br/>
        Además este listado cuenta con un páginador, el cual nos mostrara de a 10 jugadores por pantalla, pudiendo ordenarlos por nombre, apellido,
        número de documento o fecha de nacimiento, presionando en la cabezera del listado.
    </p>
    <h2>Crear Jugador</h2>
    <p>Esta vista tiene por objetivo dar de alta un nuevo jugador.<br/> 
        Para poder realizar el alta del mismo debe completar los datos en los casilleros, podemos ver al intentar crear 
        un jugador con datos vacios el sistema nos pide que completemos los datos obligatorios que son nombre, apellido,
        tipo y número de documento, fecha de nacimiento, domicilio de residencia, localidad de residencia, télefono, email
        , peso y estatura. El resto de los datos pueden o no ser completados. Si no se agrega un foto del jugador el sistema
        por defecto guardara una imagen, la cual podemos visualizar al hacer click en el nombre del jugador en el listado de 
        jugadores.<br/>
        Una vez completados los datos, lo último que queda por hacer es apretar el botón "Crear", el cual dara el alta al
        nuevo jugador y nos redireccionara al listado de jugadores, donde podremos observar que nuestro nuevo jugador esta
        creado.
    </p>
    <h2>Editar Jugador</h2>
    <p>Esta vista tiene por objetivo la edición de un jugador creado previamente. <br/>
        Esto se puede dar en casos de que se haya cargado mal algún dato del jugador o por el contrario que el jugador
        haya cambiado algun dato de referencia.<br/>
        Al entrar en esta vista el sistema nos muestra todos los datos ya cargados del jugador, para modificarlos simplemente
        debemos cambiar el valor y presionar el boton "Guardar". Debemos tener en cuenta que para guardar un jugador,
        al igual que cuando lo creamos, existen campos obligatorios que no se pueden dejar vacios, los mismos son nombre, 
        apellido, tipo y número de documento, fecha de nacimiento, domicilio de residencia, localidad de residencia, télefono,
        email, peso y estatura. El resto de los datos pueden o no ser completados.<br/>
        Una vez modificados los datos deseados lo último que queda por hacer es apretar el botón "Guardar", el cual guardara
        las modificaciones realizadas al jugador y nos redireccionara al listado de jugadores, donde podremos observar nuestro
        jugador con sus nuevos datos.
    </p>
</div>
    </div>