@using System.Web.Mvc.Html
@model IEnumerable<TPM.Models.Jugador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridJugadores = new WebGrid(Model, rowsPerPage: 10);
}

<div class="panel panel-primary">
    <div class="panel-heading">Lista de Jugadores
        <div class="pull-right">
            <form name="formBuscador" id="formBuscador" method="POST">
                <input type="text" name="parametroBuscar" id="parametroBuscar" placeholder="Buscar" class="buscarHeader" onchange="submit"/>
            <a class="link-panel" href="/Jugador/Create" style="color: #FFF;font-size: 14px;">
                <img src="~/Images/boton_nuevo.png" />
                Nuevo Jugador
            </a>
                </form>
        </div>
  </div>
    <div class="panel-body">
        
    @if (Model != null)
    {

        @gridJugadores.GetHtml(
            fillEmptyRows: false,
            alternatingRowStyle: "fila-alternativa",
            headerStyle: "encabezado-grid",
            footerStyle: "pie-grid",
            mode: WebGridPagerModes.All,
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
            tableStyle: "table table-striped",

             columns: new[]
             {
                 gridJugadores.Column("Nombre"),
                 gridJugadores.Column("Apellido"),
                 gridJugadores.Column("NumeroDoc", "N° de documento"),
                 gridJugadores.Column("FechaNacFormateada",
                     header: "Fecha de nacimiento"
                     ),
                 gridJugadores.Column("",
                     header: "Acciones",
                     format: @<text>
                                  <a href="/Jugador/Edit/@item.Id"><img title="Editar" src="~/Images/boton_editar.png" /></a>
                                  <a href="/Jugador/Details/@item.Id"><img title="Detalle" src="~/Images/boton_ver.png" /></a>
                                  <a href="/Jugador/Delete/@item.Id"><img title="Eliminar" src="~/Images/boton_borrar.png" /></a>
                              </text>
                     )
             })
     }
    else
    {
    <div>@Html.DisplayName("No existen jugadores")</div>
    }          
    </div>
</div>