@using System.Web.Mvc.Html
@model IEnumerable<TPM.Models.Equipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid gridEquipos = new WebGrid(Model, rowsPerPage: 10, defaultSort: "Liga");
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Lista de Equipos
     @* <div class="pull-right">
          <a class="link-panel"  href="/Equipo/Create">
              <img src="~/Images/boton_nuevo.png" />
              Nuevo equipo
          </a>
      </div>*@
        @*@Html.ActionLink("Nuevo Equipo", "Create")*@
    </div>
    <div class="panel-body">
        @if (Model != null)
        {

            @gridEquipos.GetHtml(
            fillEmptyRows: false,
            alternatingRowStyle: "fila-alternativa",
            headerStyle: "encabezado-grid",
            footerStyle: "pie-grid",
            mode: WebGridPagerModes.All,
            firstText: "<< Primera",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Última >>",
            tableStyle: "table table-striped",

             columns: new[]
             {
                 gridEquipos.Column("NombreEquipo", "Nombre"),
                 gridEquipos.Column("CategoriaNombre"),
                 gridEquipos.Column("Liga"),
                 gridEquipos.Column("",
                     header: "Acciones",
                     format: @<text>
           @* <a href="/Equipo/Edit/@item.Id">
                <img title="Editar" src="~/Images/boton_editar.png" /></a>
            <a href="/Equipo/Details/@item.Id">
                <img title="Detalle" src="~/Images/boton_ver.png" /></a>
            <a href="/Equipo/Delete/@item.Id">
                <img title="Eliminar" src="~/Images/boton_borrar.png" /></a>*@
            <a href="/Equipo/AssignarJugadores/@item.Id">
                <img title="Asignar jugadores" width="25px" src="~/Images/boton_asignarJugador.png" /></a>
            <a href="/Equipo/AsignarPersonalEsp/@item.Id">
                <img title="Asignar profesional especializado" width="25px" src="~/Images/boton_asignarProfesional2.png" /></a>
            </text>
                     )
             })
        }
        else
        {
            <div>@Html.DisplayName("No existen jugadores")</div>
        }
    </div>
</div>
